@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.header {
  padding: 0 40px;
  position: absolute;
  top: 20px;
  z-index: 2;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate__list {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 900px) {
  .navigate__list {
    text-align: center;
    padding: 6px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border: 1px solid #7B61FF;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
  }
}

.navigate__item {
  padding-right: 16px;
}
@media screen and (max-width: 900px) {
  .navigate__item {
    padding-top: 2px;
    padding-right: 0;
  }
}

.navigate__link {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  padding: 1px 4px;
  border: 1px solid transparent;
}
.navigate__link:hover {
  color: #DEE1FF;
}
.navigate__link:focus {
  outline: none;
  border-radius: 4px;
  border: 1px solid #9BA5FE;
  color: #9BA5FE;
}
.navigate__link_auth {
  color: #61FFDA;
  border: 1px solid #61FFDA;
  border-radius: 8px;
  padding: 2px 6px;
}
.navigate__link_exit {
  color: #F68E5F;
  border: 1px solid #F68E5F;
  border-radius: 8px;
  padding: 2px 6px;
}
@media screen and (max-width: 900px) {
  .navigate__link {
    margin-top: 2px;
  }
}

.header__menu {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .header__menu {
    display: block;
  }
}

.header__close {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.header__menu-icon {
  height: 42px;
  width: 42px;
  fill: #fff;
}

.header__close-icon {
  height: 42px;
  width: 42px;
  padding: 4px;
  fill: #fff;
}

.footer {
  margin: 60px 0;
}

.footer__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 450px) {
  .footer__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .footer__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .footer__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .footer__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .footer__wrapper {
    max-width: 1200px;
  }
}
@media screen and (max-width: 780px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__list {
  list-style: none;
}

.footer__logo-icon {
  margin-bottom: 40px;
}

.footer__info {
  max-width: 320px;
}

.footer__title {
  font-family: "Noto Serif";
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.footer__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding: 1px 4px;
  border: 1px solid transparent;
}
.footer__link:hover {
  color: #DEE1FF;
}
.footer__link:focus {
  outline: none;
  border-radius: 4px;
  border: 1px solid #9BA5FE;
  color: #9BA5FE;
}
.footer__link_login {
  padding: 14px 28px;
  background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
  border-radius: 3rem;
  font-size: 1.4rem;
  text-align: center;
}
.footer__link_login:focus {
  border-radius: 3rem;
  color: #fff;
}
.footer__link_registration {
  font-size: 1.4rem;
}
.footer__link_registration:hover {
  text-decoration: underline;
}

.footer__navigate {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 100px;
}
@media screen and (max-width: 780px) {
  .footer__navigate {
    justify-content: space-evenly;
    margin-right: 40px;
  }
}

.footer__category {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 1.2rem;
  color: #DEE1FF;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 1px 4px;
}

.footer__item {
  margin-bottom: 6px;
}

.footer__list {
  margin-left: 100px;
}
@media screen and (max-width: 780px) {
  .footer__list {
    margin-top: 40px;
    margin-left: 0px;
  }
}

.hero {
  background-image: url(../../images/bg.png);
  background-size: cover;
  box-shadow: inset 0px -20px 30px #171720;
}

.hero__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .hero__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .hero__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .hero__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .hero__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .hero__wrapper {
    max-width: 1200px;
  }
}

.hero__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__subtitle:after {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line.svg);
}
.hero__subtitle:before {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line.svg);
}
@media screen and (max-width: 680px) {
  .hero__subtitle {
    font-size: 1.3rem;
  }
}

.hero__username {
  font-weight: 700;
  font-size: 1.6rem;
  color: #61FFDA;
  padding-bottom: 1.4px;
}
@media screen and (max-width: 680px) {
  .hero__username {
    font-size: 1.5rem;
  }
}

.hero__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.2rem;
  max-width: 800px;
  margin: 16px auto 28px;
}
@media screen and (max-width: 680px) {
  .hero__title {
    font-size: 3.2rem;
  }
}

.hero__link {
  font-weight: 500;
  width: 200px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  padding: 14px 28px;
  background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
  border-radius: 3rem;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.hero__link:hover {
  outline: 1.8px solid #fff;
}

.hero__button {
  position: absolute;
  width: 120px;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.hero__button:after {
  content: url(/images/arow-down.svg);
}

@media screen and (max-width: 758px) {
  .hero__title {
    font-size: 3rem;
    line-height: normal;
  }
}
.platforms {
  scroll-behavior: smooth;
}

.platforms__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin: 20px auto;
  padding: 40px 0;
}
@media screen and (max-width: 450px) {
  .platforms__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .platforms__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .platforms__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .platforms__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .platforms__wrapper {
    max-width: 1200px;
  }
}

.platforms__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

.platforms__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.features__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
@media screen and (max-width: 450px) {
  .features__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .features__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .features__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .features__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .features__wrapper {
    max-width: 1200px;
  }
}

.features__subtitle {
  text-transform: uppercase;
  color: #F68E5F;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__subtitle:after {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}
.features__subtitle:before {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}

.features__title {
  text-align: center;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  max-width: 600px;
  margin: 16px auto 54px auto;
}
@media screen and (max-width: 680px) {
  .features__title {
    font-size: 3.2rem;
  }
}

.features__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  background-color: #20202E;
  max-width: 226px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 86px 20px 36px 20px;
}
.features__item:nth-child(1) {
  border-top: 2px solid #FC61FF;
}
.features__item:nth-child(2) {
  border-top: 2px solid #7B61FF;
}
.features__item:nth-child(3) {
  border-top: 2px solid #61FFDA;
}

.features__name {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 1.24rem;
  padding: 8px 0 8px 20px;
  background-image: url(../../images/card-title.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0 20px -20px;
}

.features__description {
  font-family: "Noto Serif";
  font-weight: 500;
  font-size: 1.1rem;
  line-height: normal;
}

.advantages {
  margin-top: 120px;
}

.advantages__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7fr 4fr;
  gap: 60px;
  justify-content: space-between;
}
@media screen and (max-width: 450px) {
  .advantages__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .advantages__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .advantages__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .advantages__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .advantages__wrapper {
    max-width: 1200px;
  }
}

.advantages__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__icon {
  min-width: 34px;
  min-height: 34px;
  width: 100%;
  height: 100%;
}

.advantages__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  max-width: 600px;
  margin: 20px auto 38px auto;
}
@media screen and (max-width: 680px) {
  .advantages__title {
    font-size: 3.2rem;
  }
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  display: grid;
  grid-template-columns: 2fr 28fr;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 28px;
}

.advantages__name {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 8px;
}

.advantages__description {
  font-size: 1.4rem;
  line-height: normal;
}

@media screen and (max-width: 1000px) {
  .advantages__wrapper {
    grid-template-columns: 1fr;
  }
  .advantages__image {
    height: 280px;
  }
  .advantages__title {
    text-align: center;
  }
}
.critics__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin: 80px auto;
}
@media screen and (max-width: 450px) {
  .critics__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .critics__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .critics__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .critics__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .critics__wrapper {
    max-width: 1200px;
  }
}

.critics__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #F68E5F;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.critics__subtitle:after {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}
.critics__subtitle:before {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}

.critics__title {
  text-align: center;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  max-width: 340px;
  margin: 16px auto 54px auto;
}
@media screen and (max-width: 680px) {
  .critics__title {
    font-size: 3.2rem;
  }
}

.critics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.critics__item {
  display: flex;
  position: relative;
  background-color: #292945;
  padding: 20px 180px 16px 18px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.critics__image {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 530px) {
  .critics__image {
    width: 160px;
  }
}

.critics__star-icon {
  height: 16px;
  width: 16px;
}

.critics__info {
  z-index: 2;
  max-width: 270px;
  font-family: "Noto Serif";
}

.critics__text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: normal;
  color: #FEFEFE;
  margin: 6px 0 12px 0;
}

.critics__name {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.critics__specialization {
  font-weight: 500;
  font-size: 1rem;
  color: #9BA5FE;
}

.locations__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 450px) {
  .locations__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .locations__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .locations__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .locations__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .locations__wrapper {
    max-width: 1200px;
  }
}

.locations__image {
  width: 64%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.locations__subtitle {
  text-transform: uppercase;
  color: #F68E5F;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.locations__subtitle:before {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}

.locations__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  max-width: 400px;
  margin: 16px auto 54px auto;
}
@media screen and (max-width: 680px) {
  .locations__title {
    font-size: 3.2rem;
  }
}

.locations__link {
  display: block;
  font-weight: 500;
  width: 180px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 14px 28px;
  background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
  border-radius: 3rem;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.locations__link:hover {
  outline: 1.8px solid #fff;
}

@media screen and (max-width: 1040px) {
  .locations__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .locations__image {
    width: 100%;
    margin-top: 50px;
  }
  .locations__subtitle {
    justify-content: center;
  }
  .locations__subtitle:after {
    padding: 0 4px;
    height: 22px;
    content: url(../../images/line-orange.svg);
  }
  .locations__title {
    max-width: 80%;
    text-align: center;
  }
  .locations__link {
    margin: 0 auto;
  }
}
.levels {
  background-image: url(../../images/bg-levels.png);
  background-size: cover;
  min-height: 100vh;
}

.levels__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .levels__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .levels__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .levels__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .levels__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .levels__wrapper {
    max-width: 1200px;
  }
}

.levels__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 4rem;
  line-height: normal;
  max-width: 800px;
  margin: 40px auto 10px;
}
@media screen and (max-width: 680px) {
  .levels__title {
    font-size: 2.8rem;
    max-width: 480px;
    margin: 30px auto 0;
  }
}

.levels__subtitle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: normal;
  max-width: 460px;
  margin: 20px auto 50px;
  color: #F68E5F;
}

.levels__link {
  text-decoration: none;
  color: #9BA5FE;
}
.levels__link:hover {
  color: #FC61FF;
}

.levels__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.levels__item {
  width: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 20px;
}
.levels__item_easy {
  border: 1px solid #61FFDA;
}
.levels__item_norm {
  border: 1px solid #7B61FF;
}
.levels__item_hard {
  border: 1px solid #F68E5F;
}

.levels__avatar {
  height: 200px;
}

.levels__info {
  padding: 12px;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.levels__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.levels__name {
  font-family: "Noto Serif";
  font-weight: 600;
  max-width: 190px;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.levels__description {
  margin-top: 6px;
  text-align: justify;
  font-size: 1.05rem;
  line-height: 1.3rem;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
}
.levels__description:after {
  content: "...";
}

.levels__other {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  font-family: "Noto Serif";
  justify-content: space-between;
  margin-top: 8px;
}

.levels__coins {
  display: flex;
  justify-content: center;
  align-items: center;
}
.levels__coins:after {
  margin-left: 4px;
  content: url(../../images/coin-icon.svg);
}

.levels__empty {
  width: 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  height: 100%;
  min-height: 340px;
  border-radius: 8px;
}

.levels__alert {
  width: 200px;
  color: #F68E5F;
  margin-top: 20px;
}

.enemies {
  background-image: url(../../images/bg-enemies.png);
  background-size: cover;
  min-height: 100vh;
}

.enemies__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .enemies__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .enemies__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .enemies__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .enemies__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .enemies__wrapper {
    max-width: 1200px;
  }
}

.enemies__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 4rem;
  line-height: normal;
  max-width: 800px;
  margin: 40px auto 10px;
}
@media screen and (max-width: 680px) {
  .enemies__title {
    font-size: 2.8rem;
    max-width: 480px;
    margin: 30px auto 0;
  }
}

.enemies__subtitle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: normal;
  max-width: 460px;
  margin: 20px auto 50px;
  color: #F68E5F;
}

.enemies__link {
  text-decoration: none;
  color: #9BA5FE;
}
.enemies__link:hover {
  color: #FC61FF;
}

.enemies__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.enemies__item {
  width: 260px;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 280px 280px 8px 8px;
  margin-bottom: 20px;
}

.enemies__info {
  padding: 12px;
  min-height: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enemies__image {
  width: 100%;
  height: 260px;
  border-radius: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.enemies__image_easy {
  border: 2px solid #61FFDA;
}
.enemies__image_norm {
  border: 2px solid #7B61FF;
}
.enemies__image_hard {
  border: 2px solid #FC61FF;
}
@media screen and (max-width: 680px) {
  .enemies__image {
    height: 130px;
    width: 50%;
  }
}

.enemies__name {
  font-family: "Noto Serif";
  font-weight: 600;
  max-width: 190px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.enemies__description {
  margin-top: 6px;
  text-align: justify;
  font-size: 1.07rem;
  line-height: 1.3rem;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
}
.enemies__description:after {
  content: "...";
}

.enemies__levels {
  margin: 10px 0 6px;
  text-align: center;
  font-size: 1.12rem;
  line-height: normal;
}

.enemies__other {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Noto Serif";
  justify-content: space-between;
  margin-top: 8px;
}

.enemies__coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.enemies__coin:before {
  content: url(../../images/coin-icon.svg);
}

.enemies__heart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.enemies__heart:before {
  content: url(../../images/heart-icon.svg);
}

.enemies__power {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.enemies__power:before {
  content: url(../../images/fist-icon.svg);
}

.products {
  background-image: url(../../images/bg-shop.png);
  background-size: cover;
}

.products__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .products__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .products__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .products__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .products__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .products__wrapper {
    max-width: 1200px;
  }
}

.products__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 4rem;
  line-height: normal;
  max-width: 800px;
  margin: 40px auto 60px;
}
@media screen and (max-width: 680px) {
  .products__title {
    font-size: 2.8rem;
    max-width: 480px;
    margin: 30px auto 20px;
  }
}

.products__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__item {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  align-items: center;
}

.products__info {
  padding: 8px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products__image {
  width: 130px;
  height: 130px;
  margin-top: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.products__name {
  font-family: "Noto Serif";
  font-weight: 600;
  max-width: 190px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.products__description {
  margin-top: 6px;
  text-align: justify;
  font-size: 1.05rem;
  line-height: 1.3rem;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
}
.products__description:after {
  content: "...";
}

.products__other {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}

.products__other:has(.products__button_old) {
  background: rgba(0, 0, 0, 0.2784313725);
}

.products__coins {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #fffab6;
  text-shadow: 1px 1px 1px #20202E;
}
.products__coins:before {
  margin-right: 3px;
  margin-top: 3px;
  content: url(../../images/coin-icon.svg);
}

.products__link {
  text-decoration: none;
  color: #9BA5FE;
}
.products__link:hover {
  color: #FC61FF;
}

.products__error {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: normal;
  max-width: 460px;
  margin: 10px auto;
  color: #F68E5F;
}

.products__money {
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  max-width: 460px;
  margin: 10px auto;
  color: #61FFDA;
}

.products__button {
  border: 1.8px solid #fffab6;
  background: none;
  border-radius: 16px;
  padding: 4px 8px;
  color: #fffab6;
  text-transform: uppercase;
  font-size: 1.12rem;
  font-weight: 600;
  cursor: pointer;
}
.products__button_old {
  color: #F68E5F;
  border: 1.8px dotted #F68E5F;
}

.rating {
  background-image: url(../../images/bg-rating.png);
  background-size: cover;
}

.rating__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .rating__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .rating__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .rating__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .rating__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .rating__wrapper {
    max-width: 1200px;
  }
}

.rating__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 4rem;
  line-height: normal;
  max-width: 640px;
  margin: 40px auto 60px;
}
@media screen and (max-width: 680px) {
  .rating__title {
    font-size: 2.8rem;
    max-width: 480px;
    margin: 30px auto 20px;
  }
}

.rating__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating__item {
  width: 100%;
  display: flex;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  margin-bottom: 12px;
  align-items: center;
  border-radius: 30px 8px 8px 30px;
}
.rating__item_me {
  border: 1px solid #9BA5FE;
}

.rating__info {
  text-align: center;
  font-family: "Noto Serif";
  padding: 12px;
  border-radius: 0 0 8px 8px;
  display: grid;
  font-size: 1.4rem;
  line-height: normal;
  grid-template-columns: 280px 100px 110px 100px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 580px) {
  .rating__info {
    grid-template-columns: 2fr 1.4fr;
    font-size: 1.2rem;
    text-align: left;
  }
}
@media screen and (min-width: 580px) and (max-width: 790px) {
  .rating__info {
    grid-template-columns: 2.2fr 1fr 1.5fr 1fr;
    font-size: 1.15rem;
  }
}

.rating__image {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 200px;
}

.rating__name {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: normal;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .rating__name {
    font-size: 1.4rem;
  }
}

.rating__coins {
  display: flex;
  align-items: center;
}
.rating__coins:before {
  margin-right: 2px;
  content: url(../../images/coin-icon.svg);
}

.rating__scores {
  display: flex;
  align-items: center;
}
.rating__scores:before {
  margin-right: 2px;
  content: url(../../images/exp-icons.svg);
}

.authorization {
  background-image: url(../../images/bg-login.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.authorization__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .authorization__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .authorization__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .authorization__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .authorization__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .authorization__wrapper {
    max-width: 1200px;
  }
}

.authorization__info {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.authorization__errors {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.authorization__error {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #F68E5F;
}

.authorization__link {
  color: #9BA5FE;
  text-decoration: none;
  font-size: 1.3rem;
}

.authorization__form {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #e0d644;
  padding: 2%;
}

.form__box {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: #fff;
  font-size: 1.2rem;
}

.form__input {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.2rem;
  display: block;
  margin: 9px auto;
  color: #fff;
  padding: 12px 10px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, 0.3);
  transition: all 0.2s ease-in-out;
  border: 1px solid #fffab6;
}
.form__input:focus {
  outline: none;
  border: 1px solid #7B61FF;
  box-shadow: 3px 3px 10px rgba(21, 21, 21, 0.391);
  background: rgba(3, 3, 3, 0.4);
}

.form__button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0 auto;
  background: none;
  border: 2px solid #7B61FF;
  border-radius: 10px;
  cursor: pointer;
  color: #9BA5FE;
}

.profile {
  background-image: url(../../images/bg-profile.png);
  background-size: cover;
  min-height: 100vh;
}

.profile__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .profile__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .profile__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .profile__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .profile__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .profile__wrapper {
    max-width: 1200px;
  }
}

.profile__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 4rem;
  line-height: normal;
  max-width: 800px;
  margin: 40px auto;
}
@media screen and (max-width: 680px) {
  .profile__title {
    font-size: 2.8rem;
    max-width: 480px;
    margin: 30px auto 20px;
  }
}

.profile__list {
  min-width: 240px;
  max-width: 280px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 16px;
  background-color: rgba(40, 32, 91, 0.243);
  padding: 18px;
  margin-bottom: 20px;
}

.profile__item {
  display: flex;
  border-radius: 16px;
  text-align: left;
  align-items: center;
  margin-bottom: 4px;
}

.profile__image {
  width: 140px;
  height: 140px;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  border: 1.6px solid #fff;
}

.profile__name {
  font-family: "Noto Serif";
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 400;
}

.profile__value {
  font-family: "Noto Serif";
  font-weight: 600;
  margin-left: 8px;
  margin-right: 4px;
  color: #F68E5F;
  text-align: justify;
  font-size: 1.5rem;
  line-height: normal;
}

.profile__other {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}

.profile__coins {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #fffab6;
  text-shadow: 1px 1px 1px #20202E;
}
.profile__coins:before {
  margin-right: 3px;
  margin-top: 3px;
  content: url(../../images/coin-icon.svg);
}

.profile__link {
  text-decoration: none;
  color: #9BA5FE;
}
.profile__link:hover {
  color: #FC61FF;
}

.profile__error {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: normal;
  max-width: 460px;
  margin: 10px auto;
  color: #F68E5F;
}

.profile__money {
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  max-width: 460px;
  margin: 10px auto;
  color: #61FFDA;
}

.profile__actions {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  max-width: 280px;
}

.profile__button {
  border: 1.8px solid #fffab6;
  background: none;
  border-radius: 16px;
  padding: 6px 10px;
  color: #fffab6;
  text-transform: uppercase;
  font-size: 1.12rem;
  font-weight: 600;
  cursor: pointer;
}
.profile__button_delete {
  color: #F68E5F;
  border: 1.8px dotted #F68E5F;
}
.profile__button_edit {
  color: #9BA5FE;
  border: 1.8px dotted #9BA5FE;
}

.profile__form {
  min-width: 240px;
  max-width: 280px;
}

.form__label {
  color: #fff;
  font-size: 1.2rem;
  line-height: normal;
}

.form__sublabel {
  font-size: 1.05rem;
  color: #DEE1FF;
}

.paginate {
  margin: 24px 0 16px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.paginate__disable {
  pointer-events: none;
  opacity: 0.5;
}

.paginate__list {
  list-style: none;
  display: flex;
  gap: 6px;
}

.paginate__item {
  width: 20px;
  height: 20px;
}

.paginate__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}
.paginate__link--disable {
  opacity: 0.5;
  pointer-events: none;
}

.comments {
  display: grid;
  grid-template-columns: 4fr 3fr;
}
@media screen and (max-width: 860px) {
  .comments {
    display: block;
  }
}

.feedback__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
@media screen and (max-width: 450px) {
  .feedback__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .feedback__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .feedback__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .feedback__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .feedback__wrapper {
    max-width: 1200px;
  }
}

.feedback__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #F68E5F;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback__subtitle:after {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}
.feedback__subtitle:before {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line-orange.svg);
}

.feedback__title {
  text-align: center;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  margin: 16px auto 54px auto;
}
@media screen and (max-width: 680px) {
  .feedback__title {
    font-size: 3.2rem;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #e0d644;
  padding: 2%;
}

.feedback__field {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: #fff;
  font-size: 1.2rem;
}

.feedback__input {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.2rem;
  display: block;
  margin: 9px auto;
  color: #fff;
  padding: 12px 10px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, 0.3);
  transition: all 0.2s ease-in-out;
  border: 1px solid #fffab6;
}
.feedback__input:focus {
  outline: none;
  border: 1px solid #7B61FF;
  box-shadow: 3px 3px 10px rgba(21, 21, 21, 0.391);
  background: rgba(3, 3, 3, 0.4);
}

.feedback__button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0 auto;
  background: none;
  border: 2px solid #7B61FF;
  border-radius: 10px;
  cursor: pointer;
  color: #9BA5FE;
}

.reviews__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
@media screen and (max-width: 450px) {
  .reviews__wrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) and (min-width: 450px) {
  .reviews__wrapper {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .reviews__wrapper {
    max-width: 540px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .reviews__wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1000px) {
  .reviews__wrapper {
    max-width: 1200px;
  }
}

.reviews__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__subtitle:after {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line.svg);
}
.reviews__subtitle:before {
  padding: 0 4px;
  height: 22px;
  content: url(../../images/line.svg);
}

.reviews__title {
  text-align: center;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  margin: 16px auto 54px auto;
}
@media screen and (max-width: 680px) {
  .reviews__title {
    font-size: 3.2rem;
  }
}

.reviews__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow-y: scroll;
  max-width: 100%;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .reviews__list {
    max-height: 420px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
  }
}

.reviews__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.842);
  padding: 12px 18px;
}

.reviews__name {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: normal;
  text-align: left;
  font-family: "Noto Serif";
}

.reviews__comment {
  font-size: 1.4rem;
}

/* Invisible */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  width: 100%;
  max-width: 100%;
  font-size: 62.5%;
  line-height: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anek Latin", sans-serif;
  position: relative;
  background-color: rgba(28, 28, 40, 0.9607843137);
  background-image: url(../../images/bg-page.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}

@media screen and (max-width: 1488px) {
  section,
header,
footer {
    padding: 0 80px;
  }
}
@media screen and (max-width: 650px) {
  section,
header,
footer {
    padding: 0 40px;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  min-height: 100%;
}

/**
 * Render the `main` element consistently in IE.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

:focus {
  outline: 1.4px solid rgba(129, 138, 255, 0.986);
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

::-moz-selection {
  color: rgb(0, 54, 61);
  background-color: rgba(184, 244, 255, 0.836);
}

::selection {
  color: rgb(0, 54, 61);
  background-color: rgba(184, 244, 255, 0.836);
}/*# sourceMappingURL=style.css.map */