@use "../utils/mixins" as m;
@use "../utils/variables" as v;

/* Invisible */
.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

html {
    width: 100%;
    max-width: 100%;
    font-size: 62.5%;
    line-height: 62.5%;
}

*,
*::before,
*::after {
    @include m.reset;
    box-sizing: border-box;
}

body {
    font-family: 'Anek Latin', sans-serif;
    position: relative;
    background-color: v.$mybg;
    background-image: url(../../images/bg-page.png);
    background-position: center;
    background-size: cover;
    color: v.$mywhite;
}





    section,
    header,
    footer {
    @media screen and (max-width: 1488px) {
        padding: 0 80px;
    }
    @media screen and (max-width: 650px) {
        padding: 0 40px;
    }
}