@use "variables";

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 450px) {
        max-width: 350px;
    }
    @media screen and (max-width: 580px) and  (min-width: 450px) {
        max-width: 420px;
    }
    @media screen and (max-width: 768px) and  (min-width: 580px) {
        max-width: 540px;
    }
    @media screen and (max-width: 1000px) and  (min-width: 768px) {
        max-width: 700px;
    }
    @media screen and (max-width: 1480px) and  (min-width: 1000px) {
        max-width: 1200px;
    }
}