$myorange: #F68E5F;
$myyellow: #e0d644;
$mypink: #FC61FF;
$myblue: #7B61FF;
$mygreen: #61FFDA;
$dkwindow: #292945;
$liblue: #9BA5FE;
$liliblue: #DEE1FF;
$ligreen: #c8f7dca0;
$liyellow: #fffab6;
$dkblue: #596AFE;
$mygray: #30313F;
$mywhite: #fff;
$liwhite: #FEFEFE;
$ligray: #57576A;
$limodal: #f4f4f4e3;
$mybg: #1C1C28F5;
$mycard: #20202E;

$gamegradient: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);;