@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.advantages {
    margin-top: 120px;
}

.advantages__wrapper {
    @include m.wrapper;
    display: grid;
    grid-template-columns: 7fr 4fr;
    gap: 60px;
    justify-content: space-between;
}

.advantages__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.advantages__icon {
    min-width: 34px;
    min-height: 34px;
    width: 100%;
    height: 100%;
}

.advantages__title {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    max-width: 600px;
    margin: 20px auto 38px auto;
    @media screen and (max-width: 680px) {
        font-size: 3.2rem;
    }
}

.advantages__list {
    list-style: none;
}

.advantages__item {
    display: grid;
    grid-template-columns: 2fr 28fr;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: 28px;
}

.advantages__name {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 8px;
}

.advantages__description {
    font-size: 1.4rem;
    line-height: normal;
}

@media screen and (max-width: 1000px) {
    .advantages__wrapper {
        grid-template-columns: 1fr;
    }

    .advantages__image {
        height: 280px;
    }

    .advantages__title {
        text-align: center;
    }
}