@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.levels-list__wrapper {
    @include m.wrapper;
    margin-top: 80px;
}

.levels-list__subtitle {
    text-align: center;
    text-transform: uppercase;
    color: v.$mywhite;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
        padding: 0 4px;
        height: 22px;
        content: url(../../images/line.svg); 
    }
    &:before { 
        padding: 0 4px;
        height: 22px;
        content: url(../../images/line.svg); 
    }
}

.levels-list__title {
    text-align: center;
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin: 16px auto 54px auto;
    @media screen and (max-width: 680px) {
        font-size: 3.2rem;
    }
}

.levels-list__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-height: 360px;
    overflow-y: scroll;
    max-width: 100%;
    gap: 12px;
    align-items: center;
    @media screen and (max-width: 860px) {
        max-height: 420px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
        justify-content: center;
    }
}

.levels-list__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    border: 1px solid v.$myblue;
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 12px 18px;
}

.levels-list__name {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: normal;
    text-align: left;
    font-family: "Noto Serif";
    margin-bottom: 4px;
}

.levels-list__comment {
    font-size: 1.4rem;
}

.levels-list__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
}

.levels-list__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1.4rem;
}

.levels-list__input, .levels-list__select {
    padding: 6px 8px;
    border: v.$mygray;
    background-color: rgba(0, 0, 0, 0.75);
    color: v.$mywhite;
    border-radius: 4px;
}

.levels-list__select {
    cursor: pointer;
}

.levelsItem_easy {
    border: 1px solid v.$mygreen;
}

.levelsItem_norm {
    border: 1px solid v.$myblue;

}

.levelsItem_hard {
    border: 1px solid v.$myorange;
}