@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.authorization {
    background-image: url(../../images/bg-login.png);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: v.$mywhite;
}

.authorization__wrapper {
    position: relative;
    @include m.wrapper;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.authorization__info {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.authorization__errors {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.authorization__error {
    font-size: 1.2rem;
    margin-top: 10px;
    color: v.$myorange;
}

.authorization__link {
    color: v.$liblue;
    text-decoration: none;
    font-size: 1.3rem;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid v.$myyellow;
    padding: 2%;

}

.form__box {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    color: v.$mywhite;
    font-size: 1.2rem;
}

.form__input {
    width: 100%;
    background: none;
    border: none;
    font-size: 1.2rem;
    display: block;
    margin: 9px auto;
    color: v.$mywhite;
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.3);
    transition: all 0.2s ease-in-out;
    border: 1px solid v.$liyellow;
    &:focus{
        outline: none;
        border: 1px solid v.$myblue;
        box-shadow: 3px 3px 10px rgba(21, 21, 21, 0.391);
        background: rgba(3,3,3,.4);
      }
}

.form__button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 auto;
    background: none;
    border: 2px solid v.$myblue;
    border-radius: 10px;
    cursor: pointer;
    color: v.$liblue;
}