@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.footer {
    margin: 60px 0;
}

.footer__wrapper {
    @include m.wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 780px) {
        flex-direction: column;

    }
}

.footer__list {
    list-style: none;
}

.footer__logo-icon {
    margin-bottom: 40px;
}


.footer__info {
    max-width: 320px;
}

.footer__title {
    font-family: 'Noto Serif';
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.footer__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    font-weight: 400;
    font-size: 1.2rem;
    color: v.$mywhite;
    text-decoration: none;
    padding: 1px 4px;
    border: 1px solid transparent;
    &:hover {
        color: v.$liliblue;
    }
    &:focus {
        outline: none;
        border-radius: 4px;
        border: 1px solid v.$liblue;
        color: v.$liblue;
    }
    &_login{
        padding: 14px 28px;
        background: v.$gamegradient;
        border-radius: 3rem;
        font-size: 1.4rem;
        text-align: center;
        &:focus{
            border-radius: 3rem;
            color: v.$mywhite;
        }
    }
    &_registration {
        font-size: 1.4rem;
        &:hover{
            text-decoration:underline;
        }
    }
}

.footer__navigate {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @media screen and (max-width: 780px) {
        justify-content: space-evenly;
        margin-right: 40px;
    }
    margin-top: 100px;
}

.footer__category {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 1.2rem;
    color: v.$liliblue;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 1px 4px;
}

.footer__item {
    margin-bottom: 6px;
}

.footer__list {
    margin-left: 100px;
    @media screen and (max-width: 780px) {
        margin-top: 40px;
        margin-left: 0px;
    }
}